/* image rollover box */

.dr-roll-container {
  position:relative;
  height:100%;
  margin:0 auto;
}

.dr-roll-container img {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.dr-roll-container img.dr-roll-top:hover {
  opacity:0;
}